.chat-root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.markdown-body {
    line-height: 1.5;
}

pre {
    position: relative;
    padding: 0 10px 0 0;
}

code {
    padding: 2px 4px;
    border-radius: 6px;
    white-space: break-spaces;
    background-color: hsl(215deg 18% 66% / 40%);
}

pre,
code {
    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
}

pre code {
    display: block;
    overflow-x: auto;
    background-color: initial;
}

.hljs,
pre {
    background: #1a1b26;
    color: #cbd2ea;
}

/*!
  Theme: Tokyo-night-Dark
  origin: https://github.com/enkia/tokyo-night-vscode-theme
  Description: Original highlight.js style
  Author: (c) Henri Vandersleyen <hvandersleyen@gmail.com>
  License: see project LICENSE
  Touched: 2022
*/
.hljs-comment,
.hljs-meta {
    color: #565f89;
}

.hljs-deletion,
.hljs-doctag,
.hljs-regexp,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id,
.hljs-selector-pseudo,
.hljs-tag,
.hljs-template-tag,
.hljs-variable.language_ {
    color: #f7768e;
}

.hljs-link,
.hljs-literal,
.hljs-number,
.hljs-params,
.hljs-template-variable,
.hljs-type,
.hljs-variable {
    color: #ff9e64;
}

.hljs-attribute,
.hljs-built_in {
    color: #e0af68;
}

.hljs-keyword,
.hljs-property,
.hljs-subst,
.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_ {
    color: #7dcfff;
}

.hljs-selector-tag {
    color: #73daca;
}

.hljs-addition,
.hljs-bullet,
.hljs-quote,
.hljs-string,
.hljs-symbol {
    color: #9ece6a;
}

.hljs-code,
.hljs-formula,
.hljs-section {
    color: #7aa2f7;
}

.hljs-attr,
.hljs-char.escape_,
.hljs-keyword,
.hljs-name,
.hljs-operator {
    color: #bb9af7;
}

.hljs-punctuation {
    color: #c0caf5;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: 700;
}
pre .action-btns {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px
}

pre:hover .action-code-button {
    pointer-events: all;
    transform: translateX(0px);
    opacity: 0.5;
}

pre .action-code-button {
    margin-right: 5px;
    cursor: pointer;
    padding: 0px 5px;
    background-color: rgb(187, 187, 187);
    color: rgb(30, 30, 30);
    border: 1px solid rgb(222, 222, 222);
    border-radius: 10px;
    transform: translateX(3px);
    pointer-events: none;
    opacity: 1;
    transition: all ease 0.3s;
}

.chat-list {
    flex: 1;
    overflow-x: hidden;
    overflow-y: overlay;
}

.chat-input-area {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 6px;
    padding: 12px 16px;
    border-top: 1px solid var(--vscode-notebook-cellToolbarSeparator);
}

.chat-input-area-ai {
    width: 100%;
}

/* AI对话-9宫格图标区域 */
.chat-icon-area {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 将父元素分为3列 */
    grid-template-rows: repeat(3, 1fr);
    /* 将父元素分为3行 */
    grid-gap: 10px;
    padding: 12px 10px 12px 0;
    width: 100px;
    border-top: 1px solid var(--vscode-notebook-cellToolbarSeparator);
}

/* AI对话-9宫格图标区域-图标 */
.chat-input-action {
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.192);
    background-color: rgb(30, 30, 30);
    border-radius: 10px;
    color: rgb(187, 187, 187);
    animation: slide-in ease 0.3s;
    box-shadow: 0px 2px 4px 0px rgb(0, 0, 0, 0.05);
    transition: all ease 0.3s;
    font-size: 16px;
}

.chat-icon .codicon {
    /* font-size: 16px; */
}

.chat-msg {
    display: flow-root;
    position: relative;
    min-height: 44px;
}

.chat-msg.reply {
    background-color: var(--vscode-editor-background);
}

.chat-list>.chat-msg:not(:last-child) {
    border-bottom: 1px solid var(--vscode-notebook-cellToolbarSeparator);
}

.chat-msg-contents {
    padding: 0 16px;
    user-select: text;
    -webkit-user-select: text;
    -webkit-user-drag: auto;
}

.chat-msg-contents *::selection {
    background-color: var(--vscode-editor-selectionBackground);
    color: var(--vscode-editor-selectionForeground);
}

.chat-msg:not(.reply) .chat-msg-contents {
    display: flex;
    justify-content: end;
    padding-right: 24px;
}

.chat-msg-contents ol,
.chat-msg-contents ul {
    padding-left: 1.5em;
}

.chat-msg-contents pre {
    margin: 0 -16px;
    padding: 0px 16px;
    overflow-x: overlay;
}

.chat-msg-contents code {
    font-family: var(--vscode-editor-font-family);
    font-size: var(--vscode-editor-font-size);
    color: var(--vscode-editor-foreground);
}

.chat-msg-contents code .keyword {
    color: var(--vscode-symbolIcon-keywordForeground);
}

.chat-msg-contents code .variable {
    color: var(--vscode-symbolIcon-variableForeground);
}

.chat-msg-contents code .string {
    color: var(--vscode-symbolIcon-stringForeground);
}

.chat-msg-contents code .function {
    color: var(--vscode-symbolIcon-functionForeground);
}

.chat-msg-contents code .operator {
    color: var(--vscode-symbolIcon-operatorForeground);
}

.chat-msg-contents code .number {
    color: var(--vscode-symbolIcon-numberForeground);
}

.chat-msg-contents code .maybe-class-name {
    color: var(--vscode-symbolIcon-classForeground);
}

.chat-msg-contents code .method {
    color: var(--vscode-symbolIcon-methodForeground);
}

.chat-msg-contents code .import {
    color: var(--vscode-editor-foreground);
}

.chat-msg-block-toolbar {
    display: flex;
    justify-content: flex-end;
    width: auto;
    margin-bottom: 6px;
    column-gap: 4px;
    padding: 4px;
    border-radius: 8px;
    background: var(--vscode-activityBar-background);
}

.chat-msg-block-toolbar vscode-button>span {
    color: var(--vscode-activityBar-foreground);
    opacity: 0.6;
}



.clickable {
    cursor: pointer;
}

.clickable:hover {
    filter: brightness(0.9);
}

/* htmlView */
.html-content {
    margin: 20px 0 8px;
    font-size: 12px;
    color: #595959;
    line-height: 18px;
}

.title-header {
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 14px;
    display: flex;
}

.title-header-a{
    color: #646464;
    text-decoration: underline;
}

.html-content em {
    color: #f73131;
}
